<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dgq63136.springboot.mapper.AddMapper">
    <insert id="addBarrage">
        insert into ${table} (barrage) value (#{barrage})
    </insert>
    <insert id="addAll">insert into allbarrage (barrage) value (#{barrage})</insert>
</mapper>
